[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
avellum = "9qc5m8Q1WvQgF2Z1ohXPQVGfC5pRxU92ZajEvGTpwyw7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
